.faq-section{
    h2{
        margin: 0 24px 0 0;
        @media screen and (max-width: 991px){
            margin: 0 0 24px 0;
            text-align: center;
        }
    }
    .col-auto{
        max-width: 325px;
        @media screen and (max-width: 1199px){
            width: 265px;
        }
        @media screen and (max-width: 991px){
            width: 100%;
            max-width: 100%;
        }
    }
    &:first-of-type{
       .row{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../images/qr.png) no-repeat center center;
                background-size: contain;
                z-index: -1; 
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                opacity: 0.3;
            }
        }
    }
} 
.faq-items{
    .faq-item{
        border-bottom: 2px solid #fff;
        padding: 24px;
        @media screen and (max-width: 991px){
            padding: 12px;
        }
        &:first-of-type{
            padding-top: 0;
        }
        h3{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            position: relative;
            @media screen and (max-width: 575px){
                font-size: 20px;
                padding-right: 40px;
            }
            &:hover{
                color: #2375E5;
            }
        }
        i{
            &:before{
                font-size: 48px;
                @media screen and (max-width: 575px){
                    font-size: 24px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0px;
                }
            }
        }
        .faq-description{
            display: none;
            margin-top: 24px;
            p{
                font-size: 20px;
                color: #a9a9a9; 
            }
            @media screen and (max-width: 575px){
                margin-top: 5px;
                p{
                    font-size: 16px;
                }
            }
            
        }

    }
}