.faq-section{
    h2{
        margin: 0 24px 0 0;
    }
    &:first-of-type{
       .row{
            position: relative;
            &:before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../images/qr.png) no-repeat center center;
                background-size: contain;
                z-index: -1; 
                left: 50%;
                transform: translate(-50%, -50%);
                top: 50%;
                opacity: 0.3;
            }
        }
    }
} 
.faq-items{
    .faq-item{
        border-bottom: 2px solid #fff;
        padding: 24px;
        &:first-of-type{
            padding-top: 0;
        }
        h3{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 0;
            align-items: center;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                color: #2375E5;
            }
        }
        i{
            &:before{
                font-size: 48px;
            }
        }
        .faq-description{
            display: none;
            margin-top: 24px;
            p{
                font-size: 20px;
                color: #a9a9a9; 
            }
        }

    }
}