.plans {
  h2 {
    text-align: center;
    margin-bottom: 14px;
  }

  p {
    text-align: center;
    margin-bottom: 24px;
  }
}

.select {
  .selectric {
    border-radius: 4px;
    background: var(--blueTransition);
    border-color: #174085;

    .label {
      color: #fff;
      font-weight: 700;
      font-size: 20px;
      margin: 0 44px 0 16px;
    }

    .button {
      background: transparent;
      color: #fff;

      &:after {
        border-top-color: #fff;
      }
    }

  }

  .selectric-items {
    background: #174085;
    border-color: #174085;
    border: 1px solid var(--blueTransition);
    box-shadow: none;
    border-radius: 4px;
    top: calc(100% + 10px) !important;
    position: absolute;
    z-index: 1;
    ul{
      padding-left: 0 !important;
      margin: 0 !important;
    }
    li {
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 8px;
      align-items: center;
      padding: 10px 16px !important;
      justify-content: center;
      margin: 0;
      &.highlighted {
        background: var(--blueTransition);
        color: #fff;
      }

      &:not(.highlighted):hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.plans-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  &.slick-initialized {
    margin: 0 -12px 64px;
    .slick-slide{
      margin: 0 12px;
      height: inherit;
      div{
        height: 100%;
      }
    }
    .slick-track {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    
    .plans-item {
      display: flex !important;
      height: auto;
      
    }
  }

  .plans-item {
    width: calc((100% - 48px) / 3);
    background: var(--blueTransition);
    padding: 24px;
    border-radius: 12px;
    border: 2px solid #174085;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    &:not(:has(p)) {
      ul {
        margin-top: 54px;
      }
    }

    h4 {
      display: inline-flex;
      margin-bottom: 0;
      font-size: 20px;
      align-self: baseline;
      &.price {
        margin-left: auto;
        text-transform: capitalize;
      }
    }

    p {
      width: 100%;
      font-size: 14px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px;
      margin-top: 12px;
      margin-bottom: 0;

      i {
        color: rgba(182, 157, 19, 1);
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 24px;
      margin-bottom: 24px;
      height: calc(100% - 148px);
      li {
        padding: 10px 0;
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
      }
    }

    .btn {
      margin-top: auto;
      height: 48px;
      max-width: 100%;
      background-color: transparent;
      font-size: 20px;
      border: 2px solid #fff;
      border-radius: 4px;
      width: 100%;
      color: #fff;
      transition: all 0.3s ease;
      @media screen and (max-width: 1399px) {
        font-size: 18px;  
      }
      @media screen and (max-width: 1199px) {
        font-size: 14px;  
      }
      &:hover {
        background: #fff;
        color: #0056B8 !important;
      }
    }

    &:last-of-type {
      border: 2px solid #fff;
    }

    &:not(:first-of-type) {
      p {
        justify-content: end;
      }
    }
  }
}
.primary-cta{
  margin: 24px auto 0;
}
.filer-plans {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;

  .select {
    margin-left: auto;
  }

  .plans-radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .radio {
      &:first-of-type {
        label {
          border-radius: 4px 0 0 4px;
        }
      }

      &:last-of-type {
        label {
          border-radius: 0 4px 4px 0;
        }
      }
    }

    label {
      width: 140px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 2px solid #174085;
      font-weight: 700;
      cursor: pointer;
      @media screen and (max-width: 575px) {
        width: 100px;
      }
    }

    input {
      display: none;

      &:not(:checked) {
        & + label {
          color: var(--blueTransition);
        }
      }

      &:checked {
        & + label {
          color: #fff;
          background: var(--blueTransition);
        }
      }
    }
  }
}
