.steps{
    img{
        width: 100%;    
    }
    h2,
    h4{
        text-align: center;
    }
    h4{
        margin-top: 24px;
        margin-bottom: 0;
    }
    @media screen and (max-width: 991px) {
        .col-md-4{
            &:not(:last-of-type){
                margin-bottom: 24px;
            }
        }
    }
}