footer{
    padding: 24px 0;
    margin-top: auto;
    .menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 24px;
        li{
            a{
                font-size: 20px;
                color: #fff;
                text-decoration: none;
                &:hover{
                    color: #2375E5;
                }
            }
        } 
    }
    .logo{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
    }
    .copyright{
        font-size: 14px;
        color: #fff;
    }
    .privacy-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        a{
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}