h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 18px;
}
@media screen and (max-width: 1199px) {
  h1 {
    font-size: 48px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  h3 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 22px;
  }
  
  h5 {
    font-size: 20px;
  }
  
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  ol,
  ul {

  li {
    font-size: 16px;
  }
}
}
ol,
ul {

  li {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 24px;
  color: #fff !important;
}

b,
strong {
  font-weight: 700;
}

i:not([class]),
em {
  font-style: italic;
}

ol:not([class]) {
  li {
    list-style: decimal;
  }
}

ul:not([class]) {
  li {
    list-style: disc;
  }
}

ol:not([class]),
ul:not([class]) {
  padding-left: 20px;
  margin-bottom: 24px;

  li {
    margin-bottom: 5px;
  }
}

.col-lg-6 {
  p {
    margin-bottom: 24px;
  }

  img {
    width: 100%;
  }
}
.wp-block-heading{
  @media screen and (max-width: 1399px){
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
  }
  @media screen and (max-width: 1199px){
    max-width: 960px;
  }
  @media screen and (max-width: 991px){
    max-width: 720px;
  }
  @media screen and (max-width: 767px){
    max-width: 540px;
  }
  @media screen and (max-width: 575px){
    max-width: 100%;
  }
}